<!-- views/success.ejs -->
<!doctype html>
<html>
  <head>
    <title>Deezer SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body        { padding-top:70px; }
      </style>
  </head>
  <body>
    <form method="POST" action="/auth/successTwitch"></form>
    <div class="container">
        <title>Yhea</title>
        <a href="/getNew" class="btn btn-danger"><span class="fa fa-twitch"></span>Check new follow</a>
        <a href="/getReset" class="btn btn-danger"><span class="fa fa-twitch"></span>Reset</a>
    </div>
    </form>
  </body>
</html>